/*******************TAG SELECTOR****************/

body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    margin-top: 0;
    font-family: "Tapestry", cursive;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-family: "Montserrat", sans-serif;
}

/*******************CLASS SELECTOR****************/

.top-container {
    background-color: #DFD8CA;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
